*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.card{
    position: relative;
    display: flex;
    width: min(600px,100%);
    box-shadow: 1px 30px 10px #0003;
    border-radius:5px;
    cursor: pointer;
}

.figure{
    margin: 0;
    height: fit-content;
}

.card__img{
    display: block;
    width: 260px;
    border-radius: 5px;
}

.card__info{
    width: 100%;
    padding: 0 10px;
}

.card__header{
    display: flex;
    align-items: center;
    
}

.card__price{
    margin-left: auto;
}

.card__text{
    color: #0007;
}

.card__stock{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: .9rem;
}


/* hover  */

.card:hover{
    box-shadow:20px 10px 5px #0003;
    transform: scale(1.1);
    transition: all.3s;
}